src/conf/xml-resources/web-service-references/WS_ProjectServer/wsdl/localhost_8080/WS_Project/WS_ProjectServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://basicCalc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://basicCalc.com/" name="WS_ProjectServer">
<types>
<xsd:schema>
<xsd:import namespace="http://basicCalc.com/" schemaLocation="http://localhost:8080/WS_Project/WS_ProjectServer?xsd=1"/>
</xsd:schema>
</types>
<message name="getBFPCalc">
<part name="parameters" element="tns:getBFPCalc"/>
</message>
<message name="getBFPCalcResponse">
<part name="parameters" element="tns:getBFPCalcResponse"/>
</message>
<message name="age">
<part name="parameters" element="tns:age"/>
</message>
<message name="ageResponse">
<part name="parameters" element="tns:ageResponse"/>
</message>
<message name="NotValidIcNumberException">
<part name="fault" element="tns:NotValidIcNumberException"/>
</message>
<message name="cbr">
<part name="parameters" element="tns:cbr"/>
</message>
<message name="cbrResponse">
<part name="parameters" element="tns:cbrResponse"/>
</message>
<message name="calc_bmi">
<part name="parameters" element="tns:calc_bmi"/>
</message>
<message name="calc_bmiResponse">
<part name="parameters" element="tns:calc_bmiResponse"/>
</message>
<message name="absi">
<part name="parameters" element="tns:absi"/>
</message>
<message name="absiResponse">
<part name="parameters" element="tns:absiResponse"/>
</message>
<portType name="WS_ProjectServer">
<operation name="getBFPCalc">
<input wsam:Action="http://basicCalc.com/WS_ProjectServer/getBFPCalcRequest" message="tns:getBFPCalc"/>
<output wsam:Action="http://basicCalc.com/WS_ProjectServer/getBFPCalcResponse" message="tns:getBFPCalcResponse"/>
</operation>
<operation name="age">
<input wsam:Action="http://basicCalc.com/WS_ProjectServer/ageRequest" message="tns:age"/>
<output wsam:Action="http://basicCalc.com/WS_ProjectServer/ageResponse" message="tns:ageResponse"/>
<fault message="tns:NotValidIcNumberException" name="NotValidIcNumberException" wsam:Action="http://basicCalc.com/WS_ProjectServer/age/Fault/NotValidIcNumberException"/>
</operation>
<operation name="cbr">
<input wsam:Action="http://basicCalc.com/WS_ProjectServer/cbrRequest" message="tns:cbr"/>
<output wsam:Action="http://basicCalc.com/WS_ProjectServer/cbrResponse" message="tns:cbrResponse"/>
<fault message="tns:NotValidIcNumberException" name="NotValidIcNumberException" wsam:Action="http://basicCalc.com/WS_ProjectServer/cbr/Fault/NotValidIcNumberException"/>
</operation>
<operation name="calc_bmi">
<input wsam:Action="http://basicCalc.com/WS_ProjectServer/calc_bmiRequest" message="tns:calc_bmi"/>
<output wsam:Action="http://basicCalc.com/WS_ProjectServer/calc_bmiResponse" message="tns:calc_bmiResponse"/>
</operation>
<operation name="absi">
<input wsam:Action="http://basicCalc.com/WS_ProjectServer/absiRequest" message="tns:absi"/>
<output wsam:Action="http://basicCalc.com/WS_ProjectServer/absiResponse" message="tns:absiResponse"/>
</operation>
</portType>
<binding name="WS_ProjectServerPortBinding" type="tns:WS_ProjectServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getBFPCalc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="age">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotValidIcNumberException">
<soap:fault name="NotValidIcNumberException" use="literal"/>
</fault>
</operation>
<operation name="cbr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotValidIcNumberException">
<soap:fault name="NotValidIcNumberException" use="literal"/>
</fault>
</operation>
<operation name="calc_bmi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="absi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS_ProjectServer">
<port name="WS_ProjectServerPort" binding="tns:WS_ProjectServerPortBinding">
<soap:address location="http://localhost:8080/WS_Project/WS_ProjectServer"/>
</port>
</service>
</definitions>